.hero-bg {
    background-image: url("assets/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1690px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 36px;

    .social {
        display: flex;
        gap: 12px;
    }
}

.button {
    padding: 24px;
    background-color: #36291E;
    border: 4px solid #F9C33D;
    border-radius: 120px;
    color: #FFE6BF;
    text-shadow: 2px 0 #693507, -2px 0 #693507, 0 2px #693507, 0 -2px #693507;
    cursor: pointer;
}

.icon-button {
    height: 79px;
    width: 79px;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .logo {
        width: 1070px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: white;
    }

    .monkey {
    }

    .monkey-hands {
        margin-top: -255px;
        z-index: 100;
    }

    .leaf-bg {
        margin-top: -230px;
    }

    .leaf {
        margin-top: -655px;
    }

    .our-partners {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 44px;
        margin-top: 90px;

        > p {
            color: white;
            font-size: 80px;
            margin-top: -325px;
        }

        .partners-icons {
            display: flex;
            justify-content: space-between;
            width: 1100px;
            align-items: center;
        }
    }
}

.family {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    padding-bottom: 100px;
}
