@font-face {
  font-family: 'JungleFever';
  src: local('JungleFever'), url('./assets/fonts/JungleFeverNF.ttf') format('truetype');
}

body, html {
  height: 100%;
  background-color: #638D00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JungleFever", sans-serif;
  font-size: 24px;
  font-weight: 400;
  scroll-behavior: smooth;
}
